/* The actual popup */
.popuptext {
    display: none;
}

.popuptext div {
    color: white;
    font-weight: bold;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin: 6px;
}

.popuptext div:hover {
    background-color: darkslategrey;
}

  /* Toggle this class - hide and show the popup */
.show {
    display: inline-flex;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
