/* The actual popup */
.popuptext {
    visibility: hidden;
    width: 160px;
    /* background-color: #555; */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: 50%;
}
  
  /* Toggle this class - hide and show the popup */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.close-button {
    color: white;
    font-weight: bold;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    padding: 5px;
    margin: 6px;
}

.close-button :hover {
    background-color: darkslategrey;
}

.edit-button {
    color: white;
    font-weight: bold;
    border: 1px solid white;
    text-align: center;
    cursor: pointer;
    display: inline-flex;
    padding: 5px;
    margin: 6px;
}

.edit-button :hover {
    background-color: darkslategrey;
}